*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: kghappy;
    src: url(/fonts/kg_happy-20220602T183540Z-001/kg_happy/KGHAPPY.ttf) ;
}
@font-face{
    font-family: hallowen;
    src: url(/fonts/halloween_4/halloween\ black\ otf.otf);
    font-weight: bold;
}
.bagra{
    background: linear-gradient(to right, #00B2FF , #0400FF );
}
.menu{
    margin-left: 350px;
    width: 900 ;
    top: 0%; 
}
.menu a{
    text-decoration: none;
    padding: 17px 30px;
    display: inline;
    color: black;
    font-weight: 10px;
    margin: auto;
    font-family: kghappy;
    z-index: 4px;
}
.menu a:hover{

background: white;
}

.texto{
    font-size: 9px;
    border: none;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.texto:hover{
    background-color: aquamarine;
}

.contenido{
    display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  
}
.test{
    text-decoration: none;
    color:black;
    padding: 16px;
    border: none;
    font-size: 16px;
    background:transparent;
    font-family: kghappy;

}
.test img{
    height: 15px;
}
.desplegable{
display: inline-block;
position: relative;
}
.opciones{
    display: none;
    position: absolute;
    background: linear-gradient(to right, #0093FF , #0027FF );
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;

}
.opciones a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.opciones a:hover{
    background-color: white;
}

.desplegable:hover .opciones{
    display: block;
}
.desplegable:hover .test{
    background-color:white;
}
.menu a img{
    width: 17px;
}
.lateral{
    margin-left: 940px;
    position: absolute;
    top: 0px; 
}
.opciones{
    margin-left: -100px;
}
.lateral a{
    display: list-item;
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    text-align: center;
    
}

.archivo h2{
    text-decoration: none;
    font-family: hallowen;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: black;
}
.archivo input{
position: relative;
display: inline-block;
box-shadow: 0 10px 16px black;
margin-left: 550px;
}
.archivo input::before{
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "Seleccionar";
    background: #5678EF;
    bottom: 0;


}

/* card */
.container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    padding: 40px 0;
}
.card {
      position: relative;
      width: 250px;
      height: 400px;
      margin: 0 auto;
      background:black;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
      margin-top: 50px;
}


.face{
    position: absolute;
    bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;}
.face1 {
          box-sizing: border-box;
          padding: 20px;
}
h2 {
    margin: 0;
    padding: 0;
}

.matematicas {
    background-color: #fffc00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.español {
            background-color: #00fffc;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.ingles {
            background-color: #fc00ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
.naturales {
    background-color: #F9380F;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sociales {
    background-color: #06FF68;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.face2 {
    transition: 0.5s;
}
h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
    }
        
      
    


.card:hover .face.face2 {
      height: 60px;}
h2 {
        font-size: 2em;
      }
    

.card:nth-child(1) .face.face2 {
     background-image: url(/img/materias/matematicas.png);
      border-radius: 15px;
      background-position: center;
      background-size: 300px;
    }

    .card:nth-child(2) .face.face2 {
        background-image: url(/img/materias/materias-español.jpg);
      border-radius: 15px;
      background-position: center;
      background-size: 380px;
      
    }

    .card:nth-child(3) .face.face2 {
      background-image: url(/img/materias/materias-ingles.jpg);
      background-position: center;
      background-size: 350px;
      border-radius: 15px;
    }
    .card:nth-child(4) .face.face2 {
        background-image: url(/img/materias/materias-sociales.jpg);
        background-position: center;
        background-size: 350px;
        border-radius: 15px;
      }
    .card:nth-child(5) .face.face2 {
        background-image: url(/img/materias/materias-naturales.jpg);
        background-position: center;
        background-size: 350px;
        border-radius: 15px;
    }
  
.lateral a:hover{
    transform: scale(0.8);
    transition: 0.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    padding-top: 20px;
    margin-top: 200px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    transform: scale(0.9);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}